In [1]:
import psycopg2

In [2]:
CONNECTION = "postgres://khushi:12345@localhost:5432/khushi"

In [3]:
conn = psycopg2.connect(CONNECTION)
cursor = conn.cursor()
# use the cursor to interact with your database
cursor.execute("SELECT 'hello world'")
print(cursor.fetchone())

('hello world',)

In [4]:
# contracts=[]
# cursor.execute("select distinct contract_name from example_data")
# for i in cursor.fetchall():
#     contracts.append(i[0])
# print(contracts)

In [5]:
contracts = [
    "NSE_BANKNIFTY_100_C_4500000",
    "NSE_BANKNIFTY_100_P_3940000",
    "NSE_BANKNIFTY_1_P_4420000",
    "NSE_BANKNIFTY_101_C_4800000",
    "NSE_BANKNIFTY_0_P_4840000",
    "NSE_BANKNIFTY_101_C_4450000",
    "NSE_BANKNIFTY_1_P_4000000",
    "NSE_BANKNIFTY_100_C_4500000",
    "NSE_BANKNIFTY_100_P_3940000",
    "NSE_BANKNIFTY_1_P_4420000",
    "NSE_BANKNIFTY_1_P_4390000",
    "NSE_BANKNIFTY_101_P_4550000",
    "NSE_BANKNIFTY_0_P_4480000",
    "NSE_BANKNIFTY_1_C_4700000",
    "NSE_BANKNIFTY_100_P_4040000",
    "NSE_BANKNIFTY_1_P_4610000",
    "NSE_BANKNIFTY_1_C_4670000",
    "NSE_BANKNIFTY_0_C_4480000",
    "NSE_BANKNIFTY_1_P_4140000",
    "NSE_BANKNIFTY_100_P_4020000",
    "NSE_BANKNIFTY_101_C_4270000",
    "NSE_BANKNIFTY_1_C_3990000",
    "NSE_BANKNIFTY_1_C_4620000",
    "NSE_BANKNIFTY_100_P_4690000",
    "NSE_BANKNIFTY_100_C_4200000",
    "NSE_BANKNIFTY_0_P_4770000",
    "NSE_BANKNIFTY_100_P_4190000",
    "NSE_BANKNIFTY_0_C_4590000",
]

In [6]:
##60 min aggregate
for i in contracts:
    query = f"""CREATE VIEW try AS
    SELECT
        main.chunk_start_time,
        main.chunk_rows,
        main.low_value,
        main.contract_name,
        main.high_value,
        main.avg_strike,
        main.sum_new,
        main.sum_bnew,
        main.sum_snew,
        main.sum_modify,
        main.sum_bmodify,
        main.sum_smodify,
        main.sum_cancel,
        main.sum_bcancel,
        main.sum_scancel,
        main.sum_trade,
        main.avg_bmt,
        main.avg_smt,
        main.sum_tq,
        main.sum_btq,
        main.sum_stq,
        sub.last_p,
        sub.close_p,
        sub.last_toi,
        sub.last_dte,
        sub.last_bp1,
        sub.last_bq1,
        sub.last_sp1,
        sub.last_sq1,
        sub.last_atm1,
        sub.last_atm2,
        sub.last_cpfut,
        sub.last_iv1,
        sub.last_iv2,
        sub.last_delta,
        sub.last_gamma
    FROM
        (
            SELECT
                time_bucket('1 hour', log_time ) - interval '14 minutes' AS chunk_start_time,
                contract_name AS contract_name,
                count(*) AS chunk_rows,
                min(low) AS low_value,
                max(high) AS high_value,
                avg(strike_price) AS avg_strike,
                sum(new) AS sum_new,
                sum(b_new) AS sum_bnew,
                sum(s_new) AS sum_snew,
                sum(modify) AS sum_modify,
                sum(b_modify) AS sum_bmodify,
                sum(s_modify) AS sum_smodify,
                sum(cancel) AS sum_cancel,
                sum(b_cancel) AS sum_bcancel,
                sum(s_cancel) AS sum_scancel,
                sum(trade) AS sum_trade,
                avg(bmt) AS avg_bmt,
                avg(smt) AS avg_smt,
                sum(tq) AS sum_tq,
                sum(buy_tq) AS sum_btq ,    
                sum(sell_tq) AS sum_stq      
                
            FROM
                example_data
            WHERE contract_name = '{i}'
            GROUP BY
                chunk_start_time , contract_name
            ORDER BY
                chunk_start_time
        ) AS main
    JOIN LATERAL (
        SELECT
            last_value(ltp) OVER (ORDER BY log_time) AS last_p,
            last_value(close) OVER (ORDER BY log_time) AS close_p,
            last_value(total_oi) OVER (ORDER BY log_time) AS last_toi,
            last_value(dte) OVER (ORDER BY log_time) AS last_dte,
            last_value(bp1) OVER (ORDER BY log_time) AS last_bp1,
            last_value(bq1) OVER (ORDER BY log_time) AS last_bq1,
            last_value(sp1) OVER (ORDER BY log_time) AS last_sp1,
            last_value(sq1) OVER (ORDER BY log_time) AS last_sq1,
            last_value(atm1) OVER (ORDER BY log_time) AS last_atm1,
            last_value(atm2) OVER (ORDER BY log_time) AS last_atm2,
            last_value(cp_fut) OVER (ORDER BY log_time) AS last_cpfut,
            last_value(iv1) OVER (ORDER BY log_time) AS last_iv1,
            last_value(iv2) OVER (ORDER BY log_time) AS last_iv2,
            last_value(delta) OVER (ORDER BY log_time) AS last_delta,
            last_value(gamma) OVER (ORDER BY log_time) AS last_gamma
        FROM
            example_data
        WHERE
        contract_name = '{i}' AND 
            time_bucket('1 hour', log_time) - interval '14 minutes' = main.chunk_start_time
        ORDER BY
            log_time
        LIMIT 1
    ) AS sub ON true;"""

    cursor.execute(query)
    query = """CREATE TABLE IF NOT EXISTS data AS SELECT * FROM try WHERE 1 = 0;
    ;"""
    cursor.execute(query)
    query = """INSERT INTO data SELECT * FROM try;
    """
    cursor.execute(query)
    query = """DROP VIEW try;
    """
    cursor.execute(query)

In [7]:
conn.commit()

In [8]:
query = """SELECT * FROM data
           WHERE contract_name = 'NSE_BANKNIFTY_100_C_4500000'
           AND chunk_start_time::date BETWEEN '2023-06-01' AND '2023-06-05';"""

cursor.execute(query)
for row in cursor.fetchall():
    print(row)

(datetime.datetime(2023, 6, 1, 8, 16, tzinfo=datetime.timezone(datetime.timedelta(seconds=19800))), 15, Decimal('327.5'), 'NSE_BANKNIFTY_100_C_4500000', Decimal('735.0'), Decimal('4500000.000000000000'), Decimal('220123'), Decimal('110525'), Decimal('109598'), Decimal('242144'), Decimal('130766'), Decimal('111378'), Decimal('125243'), Decimal('61264'), Decimal('63979'), Decimal('98361'), Decimal('1755.7333333333333333'), Decimal('4363.8000000000000000'), Decimal('404754'), Decimal('197564'), Decimal('207190'), Decimal('0'), None, Decimal('4709525'), Decimal('0.6458'), Decimal('0'), Decimal('0'), Decimal('0'), Decimal('0'), None, None, None, None, None, None, None, None, None, None)
(datetime.datetime(2023, 6, 1, 9, 16, tzinfo=datetime.timezone(datetime.timedelta(seconds=19800))), 60, Decimal('312.5'), 'NSE_BANKNIFTY_100_C_4500000', Decimal('402.5'), Decimal('4500000.000000000000'), Decimal('483528'), Decimal('243560'), Decimal('239968'), Decimal('541124'), Decimal('314851'), Decimal('226273'), Decimal('410421'), Decimal('207552'), Decimal('202869'), Decimal('93969'), Decimal('461.6500000000000000'), Decimal('2345.2166666666666667'), Decimal('413407'), Decimal('211240'), Decimal('202167'), Decimal('370'), Decimal('372.5'), Decimal('6079575'), Decimal('0.2507'), Decimal('370'), Decimal('59950'), Decimal('375'), Decimal('12700'), Decimal('4390000.0'), Decimal('4400000.0'), Decimal('4399118.161379'), Decimal('0.423279'), None, Decimal('0.020756999999999998'), Decimal('0.000102'), None, None, None)
(datetime.datetime(2023, 6, 1, 10, 16, tzinfo=datetime.timezone(datetime.timedelta(seconds=19800))), 60, Decimal('287.5'), 'NSE_BANKNIFTY_100_C_4500000', Decimal('342.5'), Decimal('4500000.000000000000'), Decimal('254401'), Decimal('122388'), Decimal('132013'), Decimal('237147'), Decimal('146926'), Decimal('90221'), Decimal('221200'), Decimal('107004'), Decimal('114196'), Decimal('52530'), Decimal('229.2000000000000000'), Decimal('1073.5166666666666667'), Decimal('247577'), Decimal('121036'), Decimal('126541'), Decimal('330'), Decimal('327.5'), Decimal('6535700'), Decimal('0.209'), Decimal('325'), Decimal('53000'), Decimal('330'), Decimal('67000'), Decimal('4410000.0'), Decimal('4420000.0'), Decimal('4410868.263473'), Decimal('0.40863'), None, Decimal('0.020628'), Decimal('0.00011499999999999999'), None, None, None)
(datetime.datetime(2023, 6, 1, 11, 16, tzinfo=datetime.timezone(datetime.timedelta(seconds=19800))), 60, Decimal('257.5'), 'NSE_BANKNIFTY_100_C_4500000', Decimal('355.0'), Decimal('4500000.000000000000'), Decimal('328493'), Decimal('154575'), Decimal('173918'), Decimal('291734'), Decimal('170096'), Decimal('121638'), Decimal('279775'), Decimal('132171'), Decimal('147604'), Decimal('70407'), Decimal('296.4500000000000000'), Decimal('1496.2333333333333333'), Decimal('361782'), Decimal('178724'), Decimal('183058'), Decimal('305'), Decimal('307.5'), Decimal('7053850'), Decimal('0.1674'), Decimal('305'), Decimal('36975'), Decimal('310'), Decimal('34800'), Decimal('4400000.0'), Decimal('4410000.0'), Decimal('4409329.482672'), Decimal('0.45929'), None, Decimal('0.019474'), Decimal('0.000109'), None, None, None)
(datetime.datetime(2023, 6, 1, 12, 16, tzinfo=datetime.timezone(datetime.timedelta(seconds=19800))), 60, Decimal('247.5'), 'NSE_BANKNIFTY_100_C_4500000', Decimal('382.5'), Decimal('4500000.000000000000'), Decimal('536312'), Decimal('267322'), Decimal('268990'), Decimal('447749'), Decimal('261057'), Decimal('186692'), Decimal('446473'), Decimal('223108'), Decimal('223365'), Decimal('121385'), Decimal('613.5666666666666667'), Decimal('1707.8833333333333333'), Decimal('507343'), Decimal('256664'), Decimal('250679'), Decimal('245'), Decimal('247.5'), Decimal('7473200'), Decimal('0.1257'), Decimal('245'), Decimal('31075'), Decimal('250'), Decimal('30750'), Decimal('4410000.0'), Decimal('4420000.0'), Decimal('4411196.795193'), Decimal('0.503845'), None, Decimal('0.016709'), Decimal('0.000101'), None, None, None)
(datetime.datetime(2023, 6, 1, 13, 16, tzinfo=datetime.timezone(datetime.timedelta(seconds=19800))), 60, Decimal('137.5'), 'NSE_BANKNIFTY_100_C_4500000', Decimal('322.5'), Decimal('4500000.000000000000'), Decimal('512411'), Decimal('262177'), Decimal('250234'), Decimal('539917'), Decimal('283608'), Decimal('256309'), Decimal('375575'), Decimal('192139'), Decimal('183436'), Decimal('170372'), Decimal('857.2500000000000000'), Decimal('2148.7666666666666667'), Decimal('753038'), Decimal('386581'), Decimal('366457'), Decimal('260'), Decimal('262.5'), Decimal('7603450'), Decimal('0.084'), Decimal('260'), Decimal('11175'), Decimal('265'), Decimal('3975'), Decimal('4410000.0'), Decimal('4420000.0'), Decimal('4415219.133483999'), Decimal('0.597229'), None, Decimal('0.018111000000000002'), Decimal('0.00011100000000000001'), None, None, None)
(datetime.datetime(2023, 6, 1, 14, 16, tzinfo=datetime.timezone(datetime.timedelta(seconds=19800))), 60, Decimal('12.5'), 'NSE_BANKNIFTY_100_C_4500000', Decimal('190.0'), Decimal('4500000.000000000000'), Decimal('206453'), Decimal('105715'), Decimal('100738'), Decimal('206758'), Decimal('103108'), Decimal('103650'), Decimal('119049'), Decimal('62969'), Decimal('56080'), Decimal('121526'), Decimal('430.0500000000000000'), Decimal('912.3166666666666667'), Decimal('722094'), Decimal('396060'), Decimal('326034'), Decimal('145'), Decimal('147.5'), Decimal('7203050'), Decimal('0.0424'), Decimal('145'), Decimal('6950'), Decimal('150'), Decimal('29025'), Decimal('4390000.0'), Decimal('4400000.0'), Decimal('4398865.798698001'), Decimal('0.9072879999999999'), None, Decimal('0.010152'), Decimal('0.000063'), None, None, None)
(datetime.datetime(2023, 6, 1, 15, 16, tzinfo=datetime.timezone(datetime.timedelta(seconds=19800))), 1, Decimal('7.5'), 'NSE_BANKNIFTY_100_C_4500000', Decimal('12.5'), Decimal('4500000.000000000000'), Decimal('728'), Decimal('358'), Decimal('370'), Decimal('487'), Decimal('105'), Decimal('382'), Decimal('384'), Decimal('210'), Decimal('174'), Decimal('1325'), Decimal('28.0000000000000000'), Decimal('374.0000000000000000'), Decimal('11658'), Decimal('5595'), Decimal('6063'), Decimal('15'), Decimal('10.0'), Decimal('4475100'), Decimal('0.0007'), Decimal('5'), Decimal('359200'), Decimal('15'), Decimal('1050'), Decimal('4370000.0'), Decimal('4380000.0'), Decimal('4379060.385868'), Decimal('4.999695'), None, Decimal('0.00004'), Decimal('0.000001'), None, None, None)
(datetime.datetime(2023, 6, 2, 8, 16, tzinfo=datetime.timezone(datetime.timedelta(seconds=19800))), 15, Decimal('2582.5'), 'NSE_BANKNIFTY_100_C_4500000', Decimal('4150.0'), Decimal('4500000.000000000000'), Decimal('396895'), Decimal('194629'), Decimal('202266'), Decimal('632807'), Decimal('307409'), Decimal('325398'), Decimal('366824'), Decimal('179325'), Decimal('187499'), Decimal('36195'), Decimal('574.3333333333333333'), Decimal('5109.9333333333333333'), Decimal('122380'), Decimal('61829'), Decimal('60551'), Decimal('0'), None, Decimal('1391475'), Decimal('6.6458'), Decimal('0'), Decimal('0'), Decimal('0'), Decimal('0'), None, None, None, None, None, None, None, None, None, None)
(datetime.datetime(2023, 6, 2, 9, 16, tzinfo=datetime.timezone(datetime.timedelta(seconds=19800))), 60, Decimal('2007.5'), 'NSE_BANKNIFTY_100_C_4500000', Decimal('2935.0'), Decimal('4500000.000000000000'), Decimal('737492'), Decimal('444703'), Decimal('292789'), Decimal('1493950'), Decimal('813878'), Decimal('680072'), Decimal('700861'), Decimal('425542'), Decimal('275319'), Decimal('46209'), Decimal('209.3666666666666667'), Decimal('2205.7333333333333333'), Decimal('191036'), Decimal('100579'), Decimal('90457'), Decimal('2765'), Decimal('2765.0'), Decimal('1854500'), Decimal('6.2507'), Decimal('2760'), Decimal('725'), Decimal('2770'), Decimal('1125'), Decimal('4400000.0'), Decimal('4410000.0'), Decimal('4401073.036518'), Decimal('0.123297'), None, Decimal('0.08540299999999999'), Decimal('0.00022'), None, None, None)
(datetime.datetime(2023, 6, 2, 10, 16, tzinfo=datetime.timezone(datetime.timedelta(seconds=19800))), 60, Decimal('2102.5'), 'NSE_BANKNIFTY_100_C_4500000', Decimal('2532.5'), Decimal('4500000.000000000000'), Decimal('473001'), Decimal('264937'), Decimal('208064'), Decimal('1030618'), Decimal('559576'), Decimal('471042'), Decimal('453937'), Decimal('255257'), Decimal('198680'), Decimal('24902'), Decimal('132.7500000000000000'), Decimal('1652.7000000000000000'), Decimal('122422'), Decimal('60707'), Decimal('61715'), Decimal('2160'), Decimal('2157.5'), Decimal('2197925'), Decimal('6.209'), Decimal('2155'), Decimal('1175'), Decimal('2160'), Decimal('900'), Decimal('4390000.0'), Decimal('4400000.0'), Decimal('4391765.725607'), Decimal('0.12501199999999998'), None, Decimal('0.06876900000000001'), Decimal('0.000185'), None, None, None)
(datetime.datetime(2023, 6, 2, 11, 16, tzinfo=datetime.timezone(datetime.timedelta(seconds=19800))), 60, Decimal('2262.5'), 'NSE_BANKNIFTY_100_C_4500000', Decimal('2682.5'), Decimal('4500000.000000000000'), Decimal('448885'), Decimal('233595'), Decimal('215290'), Decimal('958174'), Decimal('540790'), Decimal('417384'), Decimal('432798'), Decimal('225820'), Decimal('206978'), Decimal('20991'), Decimal('114.5000000000000000'), Decimal('1573.9833333333333333'), Decimal('96104'), Decimal('49865'), Decimal('46239'), Decimal('2365'), Decimal('2365.0'), Decimal('2119125'), Decimal('6.1674'), Decimal('2360'), Decimal('650'), Decimal('2370'), Decimal('1525'), Decimal('4400000.0'), Decimal('4410000.0'), Decimal('4401695.935775'), Decimal('0.11890099999999999'), None, Decimal('0.07760700000000001'), Decimal('0.00021400000000000002'), None, None, None)
(datetime.datetime(2023, 6, 2, 12, 16, tzinfo=datetime.timezone(datetime.timedelta(seconds=19800))), 60, Decimal('2302.5'), 'NSE_BANKNIFTY_100_C_4500000', Decimal('3177.5'), Decimal('4500000.000000000000'), Decimal('551663'), Decimal('282303'), Decimal('269360'), Decimal('1116271'), Decimal('616049'), Decimal('500222'), Decimal('527995'), Decimal('270805'), Decimal('257190'), Decimal('29977'), Decimal('154.7000000000000000'), Decimal('2077.2166666666666667'), Decimal('125186'), Decimal('60517'), Decimal('64669'), Decimal('2455'), Decimal('2455.0'), Decimal('2101950'), Decimal('6.1257'), Decimal('2450'), Decimal('2150'), Decimal('2460'), Decimal('1200'), Decimal('4400000.0'), Decimal('4410000.0'), Decimal('4404068.3932610005'), Decimal('0.11814300000000001'), None, Decimal('0.080714'), Decimal('0.00022200000000000003'), None, None, None)
(datetime.datetime(2023, 6, 2, 13, 16, tzinfo=datetime.timezone(datetime.timedelta(seconds=19800))), 60, Decimal('1675.0'), 'NSE_BANKNIFTY_100_C_4500000', Decimal('3185.0'), Decimal('4500000.000000000000'), Decimal('880930'), Decimal('458744'), Decimal('422186'), Decimal('1639817'), Decimal('897487'), Decimal('742330'), Decimal('830800'), Decimal('432104'), Decimal('398696'), Decimal('62204'), Decimal('295.4000000000000000'), Decimal('3265.9166666666666667'), Decimal('260489'), Decimal('133915'), Decimal('126574'), Decimal('3090'), Decimal('3090.0'), Decimal('2259950'), Decimal('6.084'), Decimal('3085'), Decimal('25'), Decimal('3095'), Decimal('1950'), Decimal('4410000.0'), Decimal('4420000.0'), Decimal('4416542.406805'), Decimal('0.113212'), None, Decimal('0.10142799999999999'), Decimal('0.000275'), None, None, None)
(datetime.datetime(2023, 6, 2, 14, 16, tzinfo=datetime.timezone(datetime.timedelta(seconds=19800))), 60, Decimal('1632.5'), 'NSE_BANKNIFTY_100_C_4500000', Decimal('2605.0'), Decimal('4500000.000000000000'), Decimal('790410'), Decimal('416759'), Decimal('373651'), Decimal('1447748'), Decimal('693422'), Decimal('754326'), Decimal('734423'), Decimal('389111'), Decimal('345312'), Decimal('69698'), Decimal('283.3166666666666667'), Decimal('2922.7000000000000000'), Decimal('282423'), Decimal('142736'), Decimal('139687'), Decimal('1910'), Decimal('1915.0'), Decimal('2305800'), Decimal('6.0424'), Decimal('1910'), Decimal('825'), Decimal('1920'), Decimal('4325'), Decimal('4390000.0'), Decimal('4400000.0'), Decimal('4396609.665428'), Decimal('0.119001'), None, Decimal('0.065466'), Decimal('0.00018899999999999999'), None, None, None)
(datetime.datetime(2023, 6, 2, 15, 16, tzinfo=datetime.timezone(datetime.timedelta(seconds=19800))), 1, Decimal('1617.5'), 'NSE_BANKNIFTY_100_C_4500000', Decimal('1752.5'), Decimal('4500000.000000000000'), Decimal('4749'), Decimal('2456'), Decimal('2293'), Decimal('5280'), Decimal('1624'), Decimal('3656'), Decimal('2927'), Decimal('1450'), Decimal('1477'), Decimal('2485'), Decimal('624.0000000000000000'), Decimal('1039.0000000000000000'), Decimal('7645'), Decimal('4390'), Decimal('3255'), Decimal('1620'), Decimal('1645.0'), Decimal('2148475'), Decimal('6.0007'), Decimal('1620'), Decimal('50'), Decimal('1670'), Decimal('75'), Decimal('4390000.0'), Decimal('4400000.0'), Decimal('4397537.603105'), Decimal('0.11444100000000001'), None, Decimal('0.059105'), Decimal('0.000182'), None, None, None)
(datetime.datetime(2023, 6, 5, 8, 16, tzinfo=datetime.timezone(datetime.timedelta(seconds=19800))), 15, Decimal('1997.5'), 'NSE_BANKNIFTY_100_C_4500000', Decimal('2740.0'), Decimal('4500000.000000000000'), Decimal('436449'), Decimal('221115'), Decimal('215334'), Decimal('638675'), Decimal('340067'), Decimal('298608'), Decimal('399498'), Decimal('201450'), Decimal('198048'), Decimal('43477'), Decimal('712.4000000000000000'), Decimal('5212.4000000000000000'), Decimal('147839'), Decimal('78386'), Decimal('69453'), Decimal('0'), None, Decimal('2140225'), Decimal('3.6458'), Decimal('0'), Decimal('0'), Decimal('0'), Decimal('0'), None, None, None, None, None, None, None, None, None, None)
(datetime.datetime(2023, 6, 5, 9, 16, tzinfo=datetime.timezone(datetime.timedelta(seconds=19800))), 60, Decimal('2025.0'), 'NSE_BANKNIFTY_100_C_4500000', Decimal('2645.0'), Decimal('4500000.000000000000'), Decimal('952782'), Decimal('502322'), Decimal('450460'), Decimal('1561559'), Decimal('869257'), Decimal('692302'), Decimal('908126'), Decimal('479728'), Decimal('428398'), Decimal('54567'), Decimal('263.6833333333333333'), Decimal('3115.3666666666666667'), Decimal('203631'), Decimal('104747'), Decimal('98884'), Decimal('2430'), Decimal('2425.0'), Decimal('2351725'), Decimal('3.2507'), Decimal('2420'), Decimal('700'), Decimal('2430'), Decimal('2100'), Decimal('4420000.0'), Decimal('4430000.0'), Decimal('4424382.883997'), Decimal('0.134979'), None, Decimal('0.09275'), Decimal('0.000295'), None, None, None)
(datetime.datetime(2023, 6, 5, 10, 16, tzinfo=datetime.timezone(datetime.timedelta(seconds=19800))), 60, Decimal('1967.5'), 'NSE_BANKNIFTY_100_C_4500000', Decimal('2395.0'), Decimal('4500000.000000000000'), Decimal('532574'), Decimal('285519'), Decimal('247055'), Decimal('1241661'), Decimal('635102'), Decimal('606559'), Decimal('505154'), Decimal('272146'), Decimal('233008'), Decimal('34878'), Decimal('167.4666666666666667'), Decimal('1781.2166666666666667'), Decimal('139216'), Decimal('70293'), Decimal('68923'), Decimal('2255'), Decimal('2252.5'), Decimal('2601175'), Decimal('3.209'), Decimal('2250'), Decimal('1050'), Decimal('2255'), Decimal('1200'), Decimal('4420000.0'), Decimal('4430000.0'), Decimal('4424254.572789'), Decimal('0.13347699999999998'), None, Decimal('0.088489'), Decimal('0.00029'), None, None, None)
(datetime.datetime(2023, 6, 5, 11, 16, tzinfo=datetime.timezone(datetime.timedelta(seconds=19800))), 60, Decimal('1932.5'), 'NSE_BANKNIFTY_100_C_4500000', Decimal('2272.5'), Decimal('4500000.000000000000'), Decimal('421820'), Decimal('229245'), Decimal('192575'), Decimal('1005802'), Decimal('546131'), Decimal('459671'), Decimal('395575'), Decimal('215528'), Decimal('180047'), Decimal('33426'), Decimal('158.5000000000000000'), Decimal('1447.3500000000000000'), Decimal('129035'), Decimal('68005'), Decimal('61030'), Decimal('2265'), Decimal('2262.5'), Decimal('2802025'), Decimal('3.1674'), Decimal('2260'), Decimal('1425'), Decimal('2265'), Decimal('25'), Decimal('4420000.0'), Decimal('4430000.0'), Decimal('4427299.651568'), Decimal('0.130411'), None, Decimal('0.09099600000000001'), Decimal('0.000304'), None, None, None)
(datetime.datetime(2023, 6, 5, 12, 16, tzinfo=datetime.timezone(datetime.timedelta(seconds=19800))), 60, Decimal('1637.5'), 'NSE_BANKNIFTY_100_C_4500000', Decimal('2192.5'), Decimal('4500000.000000000000'), Decimal('447779'), Decimal('234346'), Decimal('213433'), Decimal('1100302'), Decimal('585595'), Decimal('514707'), Decimal('425319'), Decimal('223014'), Decimal('202305'), Decimal('28941'), Decimal('140.5000000000000000'), Decimal('1648.5666666666666667'), Decimal('113183'), Decimal('55860'), Decimal('57323'), Decimal('2065'), Decimal('2065.0'), Decimal('2750350'), Decimal('3.1257'), Decimal('2060'), Decimal('3450'), Decimal('2070'), Decimal('1350'), Decimal('4420000.0'), Decimal('4430000.0'), Decimal('4425981.448985'), Decimal('0.130031'), None, Decimal('0.084984'), Decimal('0.000292'), None, None, None)
(datetime.datetime(2023, 6, 5, 13, 16, tzinfo=datetime.timezone(datetime.timedelta(seconds=19800))), 60, Decimal('1645.0'), 'NSE_BANKNIFTY_100_C_4500000', Decimal('2222.5'), Decimal('4500000.000000000000'), Decimal('486949'), Decimal('266660'), Decimal('220289'), Decimal('1231417'), Decimal('646067'), Decimal('585350'), Decimal('462342'), Decimal('254829'), Decimal('207513'), Decimal('32294'), Decimal('148.7000000000000000'), Decimal('1675.7000000000000000'), Decimal('124275'), Decimal('62099'), Decimal('62176'), Decimal('2030'), Decimal('2032.5'), Decimal('2769100'), Decimal('3.084'), Decimal('2030'), Decimal('775'), Decimal('2035'), Decimal('125'), Decimal('4420000.0'), Decimal('4430000.0'), Decimal('4426195.1097800005'), Decimal('0.130105'), None, Decimal('0.084287'), Decimal('0.000292'), None, None, None)
(datetime.datetime(2023, 6, 5, 14, 16, tzinfo=datetime.timezone(datetime.timedelta(seconds=19800))), 60, Decimal('1132.5'), 'NSE_BANKNIFTY_100_C_4500000', Decimal('1872.5'), Decimal('4500000.000000000000'), Decimal('740383'), Decimal('373790'), Decimal('366593'), Decimal('1221834'), Decimal('605800'), Decimal('616034'), Decimal('674109'), Decimal('342819'), Decimal('331290'), Decimal('82791'), Decimal('345.5666666666666667'), Decimal('2977.5000000000000000'), Decimal('284960'), Decimal('145723'), Decimal('139237'), Decimal('1780'), Decimal('1782.5'), Decimal('2698300'), Decimal('3.0424'), Decimal('1780'), Decimal('900'), Decimal('1785'), Decimal('875'), Decimal('4420000.0'), Decimal('4430000.0'), Decimal('4424336.747439'), Decimal('0.12931800000000002'), None, Decimal('0.076307'), Decimal('0.000275'), None, None, None)
(datetime.datetime(2023, 6, 5, 15, 16, tzinfo=datetime.timezone(datetime.timedelta(seconds=19800))), 1, Decimal('1047.5'), 'NSE_BANKNIFTY_100_C_4500000', Decimal('1155.0'), Decimal('4500000.000000000000'), Decimal('4741'), Decimal('2572'), Decimal('2169'), Decimal('3196'), Decimal('1421'), Decimal('1775'), Decimal('3076'), Decimal('1520'), Decimal('1556'), Decimal('2162'), Decimal('512.0000000000000000'), Decimal('1116.0000000000000000'), Decimal('5645'), Decimal('3150'), Decimal('2495'), Decimal('1160'), Decimal('1090.0'), Decimal('2701975'), Decimal('3.0007'), Decimal('1060'), Decimal('175'), Decimal('1120'), Decimal('100'), Decimal('4410000.0'), Decimal('4420000.0'), Decimal('4418493.18526'), Decimal('0.123596'), None, Decimal('0.052030999999999994'), Decimal('0.000215'), None, None, None)

In [9]:
cursor.execute(
    "SELECT table_name FROM information_schema.tables WHERE table_schema='public' AND table_type='BASE TABLE'"
)
print(cursor.fetchall())

[('mytable',), ('stocks_real_time',), ('example_data',), ('data_15',), ('data',)]